@font-face {
    font-family: 'Gordital';
    src: url('./font/Gordita-Light.woff2') format('woff2'),
        url('./font/Gordita-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gorditab';
    src: url('./font/Gordita-Bold.woff2') format('woff2'),
        url('./font/Gordita-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gorditam';
    src: url('./font/Gordita-Medium.woff2') format('woff2'),
        url('./font/Gordita-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}